body{
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}


.center-div{
    padding-top: 10%;
}

.form-control{
  
  width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    border-radius: 0;   
}
.form-control:focus-within{
  background: transparent;
}


.btn.btn-success{
  display: block;
  margin: 50px auto 10px;
    padding: .4em 2em;
}

#login.title>span{
    font-size: .8;
}


.btn-upload{
    margin: 20px;
    padding: .4em 2em;
}


#logout{
    position: absolute;
    right: 50px;
}
.showemail{
    position: absolute;
    right: 150px;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    margin-top: 0;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #04AA6D;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }



  /***************Style for Login page***************/

  /* .form-box{
    width: 380px;
    height:480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
} */

.input-field{
   width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.registerbtn{
    display: block;
    margin: 50px auto;
    padding: .4em 2em;
    color: #fff;
    background-color: #198754;
    text-align: start;
    text-decoration: none;
    vertical-align: middle;
    border-radius: .25rem;
    box-shadow: none;
    border: none;
    cursor: pointer;
     
} 

.registerbtn:hover
{
background-image:none;
background-color: hsl(152deg 69% 27%);
}
.container{
  text-align: start;
  position: relative;
}
.registerL{
  text-align: center;
  
}