body{
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}


.center-div{
    padding-top: 10%;

}

.form-control{
  
  width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    border-radius: 0;   
}
.form-control:focus-within{
  background: transparent;
}


.btn.btn-success{
  display: block;
  margin: 50px auto 10px;
    padding: .4em 2em;
    margin-bottom: 2rem;
}

#login.title>span{
    font-size: .8;
}


.btn-upload{
    margin: 20px;
    padding: .4em 2em;
}


#logout{
    position: absolute;
    right: 50px;
}
.showemail{
    position: absolute;
    right: 150px;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    margin-top: 0;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #04AA6D;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }



  /***************Style for Login page***************/

  /* .form-box{
    width: 380px;
    height:480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
} */

.input-field{
   width: 100%;
    /* padding: 10px 0; */
    margin: 15px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    padding: .375rem .75rem;
    
}

.registerbtn{
    display: block;
    margin: 50px auto;
    padding: .4em 2em;
    color: #fff;
    background-color: #198754;
    text-align: start;
    text-decoration: none;
    vertical-align: middle;
    border-radius: .25rem;
    box-shadow: none;
    border: none;
    cursor: pointer;
     
} 
.registerDiv{
  padding-top: 0%;
}

.registerbtn:hover
{
background-image:none;
background-color: hsl(152deg 69% 27%);
}
.container{
  text-align: center;
  position: relative;
}
.registerL{
  text-align: center;
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  padding: 7% 23% 3%;
}


/* My changes */

.div2{
  padding: 0;
  background-color: #ff4c68;
  
}

.mainHL{
  font-family: 'Montserrat', sans-serif;
  size: 3.5 rem;
  line-height: 1.5;
  font-weight: 900;
  padding: 4% 5% ;
}

.finalLogo{
  width: 30%;
  display: block;
}

.btn-dn{
  
}

.login{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}















/********************** TinDOg CSS ***************************/

#title{
  background-color: #ff4c68;
  color: #fff;
}
h1{
  font-family: 'Montserrat', sans-serif;
  size: 3.5 rem;
  line-height: 1.5;
  font-weight: 900;
}
.container-fluid{
  padding: 3% 15%;
}
body{
  font-family: "Montserrat";
}

.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-link{
  font-size: 1.2rem;
}

.download-btn{
  
  margin: 5% 3% 5% 0;
}


.title-image{
  width: 60%;
  transform: rotate(25deg);
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}
.ift{
  color: #ef8172;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  
}
#features .row{
  margin: 2rem 10rem;
}

#features .row div {
  padding: 5%;
  margin: 1rem 0;
}


#features .row h3,#features .row p{
  text-align: center;
  margin: 0.8rem;
}
p{
  color: #8f8f8f;
}

a:hover {
  color: #fff;
}

/* testimonials */
#testimonials{
  text-align: center;
  background-color: #ef8172 ;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  padding: 7% 23% 3%;
  color: #fff;
  

}

.t-img{
  border-radius: 100%;
  width: 10%;
  margin: 1.3rem 0 2.3rem 0;
}
.imt-t{
  color: white;
}

/* Press */
#press{
  background-color: #ef8172 ;
  text-align: center;
}

.press-img{
  width: 15%;
  padding-bottom: 3%;
  margin: 20px 20px 30px;
}

.navLogo {
  transition: transform .7s ease-in-out;
}
.navLogo:hover {
    transform: rotate(360deg);
  } 