<body >
<%-include('header')-%>

<%-include('dashboard')-%>
<div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ff4c68" fill-opacity="1" d="M0,32L40,32C80,32,160,32,240,48C320,64,400,96,480,96C560,96,640,64,720,42.7C800,21,880,11,960,42.7C1040,75,1120,149,1200,165.3C1280,181,1360,139,1400,117.3L1440,96L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg></div>
<div>
    <div class="content1">    
        <h1 style="color: #ff4c68;">Our Mission:</h1>
        <p style="color: black " class="about-para" > "Investment in knowledge pays 
            the best interest.
            Develop a passion for learning."  </p>
    </div>

    <div class="content2">
        <h1 style="color: #ff4c68;" >About College ClassNotes:</h1>
        <p style="color: black;">Our mission is what drives us to do everything possible to expand
        human potential. We do that by uploading best study material and
        notes, innovations, by making our products more sustainably, by building
         a creative and diverse global team and by making a positive impact
        in communities where we live and study together.</p>

    </div>
<div style="padding-left: 10%; padding-right: 10%;">
  <hr class="wp-block-separator is-style-default">

</div>
   
    <div class="yt-video">
     <h1>How to use College ClassNotes:</h1>
      <div class="ratio ratio-16x9 ">
        <iframe width="660" height="371" src="https://www.youtube.com/embed/1X-V0TAdqSo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  


    <div class="skills team" >
        <h2>Our Team: </h2>
        <p class="skill-p">A Team That's Empowered , Diverse And Inclusive.</p>
        <div class="skill-row">
          <img class="img-tejas" src="/assets/Tejas.jpg" alt="Tejas">
          <h3>Front-End Developer</h3>
          <p>Tejas Tondase <br>202010003</p>
        </div>
        
        <div class="skill-rowd">           
          <div> <h3>Back-End Developer</h3>
          <p>Vipul Karke <br> 202010022</p>
        </div>         
          <img class="img-vipul" src="/assets/Vipul.jpg" alt="Vipul">
        </div>
    </div>




</div>

<%-include('footer')-%>