<body class="mainbody">
<%-include('header')-%>



<%-include('dashboard')-%>
<div>
    <div class="content1">    
        <h1>Our Mission:</h1>
        <p class="about-para"> <strong> Investment in knowledge pays 
            the best interest... 
            Develop a passion for learning...  </strong> </p>
    </div>

    <div class="content2">
        <h1>About College ClassNotes:</h1>
        <p>Our mission is what drives us to do everything possible to expand
        human potential. We do that by uploading best study material and
        notes, innovations, by making our products more sustainably, by building
         a creative and diverse global team and by making a positive impact
        in communities where we live and study together.</p>

    </div>

    <div class="skills team" >
        <h2>Our Team: </h2>
        <p class="skill-p">A Team That's Empowered , Diverse And Inclusive.</p>
        <div class="skill-row">

          <img class="img-tejas" src="/assets/Tejas.jpg" alt="">
          <h3>Front-End Developer</h3>
          <p>Tejas Tondase <br>202010003</p>
        </div>
        <div class="skill-rowd">
            
           <div> <h3 >Back-End Developer</h3>
          <p>Vipul Karke <br> 202010022</p>
        </div>
         
          <img class="img-vipul" src="/assets/Vipul.jpg" alt="">
        </div>
    </div>

</div>



<%-include('footer')-%>