<%-include('header')-%>



<%-include('dashboard')-%>
<div>
    <div class="content">    
        <h3 >Our Mission:</h3>
        <p class="mission"> <strong> Investment in knowledge pays 
            the best interest... 
            Develop a passion for learning...  </strong> </p>
    </div>



</div>



<%-include('footer')-%>