<body>
<%-include('header')-%>
<%-include('dashboard')-%>

<div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ff4c68" fill-opacity="1" d="M0,96L60,90.7C120,85,240,75,360,80C480,85,600,107,720,144C840,181,960,235,1080,224C1200,213,1320,139,1380,101.3L1440,64L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
</div>

<form action="/route/showfiles" method="POST" class="pt-3" enctype="multipart/form-data">  
<!-- <div class="text-center center-div mt-5" id="login">              
    </div>  -->
    <div>
        <h1>All files</h1>
    </div>
    
    <div class="images"></div>
    <script>
        const loadImages = async() => {
            const response = await fetch('http://localhost:3000/route/images').then(response => response.json());
            const imagesElement = document.querySelector('.images');
            imagesElement.innerHTML = '';
            response.images.forEach(image => {                
                const img = document.createElement('img');
                img.src= image.filePath;
                img.hspace = "20";
                img.height = '650';
                img.vspace = '20';
                img.align = "center";
                var link = document.createElement('a');
                link.href = image.filePath;
                link.download = 'file.jpg';
                console.log(img);
                img.onclick= () => {
                    
                    link.click();
                }
                document.body.appendChild(link);
                document.body.removeChild(link);              
                imagesElement.appendChild(img);
                                     
            });
        };
        console.log(loadImages);
        window.onload = loadImages;
    </script>    
    

</form>


<%-include('footer')-%>