<%-include('header')-%>

<%-include('dashboard')-%>
<form action="/route/showfiles" method="POST" class="pt-3" enctype="multipart/form-data">  
<div class="text-center center-div mt-5" id="login">              
    </div> 
    <div class="images"></div>
    <script>
        const loadImages = async() => {
            const response = await fetch('http://localhost:3000/route/images').then(response => response.json());
            const imagesElement = document.querySelector('.images');
            imagesElement.innerHTML = '';
            response.images.forEach(image => {                
                const img = document.createElement('img');
                img.src= image.filePath;
                img.height = '300';  
                var link = document.createElement('a');
                link.href = image.filePath;
                link.download = 'file.jpg';
                console.log(img);
                img.onclick= () => {
                    
                    link.click();
                }
                document.body.appendChild(link);
                document.body.removeChild(link);              
                imagesElement.appendChild(img);
                                     
            });
        };
        console.log(loadImages);
        window.onload = loadImages;
    </script>    
    

</form>


<%-include('footer')-%>