<%-include('header')-%>

<%-include('dashboard')-%>
<form action="/route/upload" method="POST" class="pt-3" enctype="multipart/form-data"> 
<div class="text-center center-div mt-5" id="login">
    <input type="file" name="mfiles" multiple />
    <button type="submit" class="btn-upload" >Upload</button>
</div>
</form>

<%-include('footer')-%>