<body>
<%-include('header')-%>
<%-include('dashboard')-%>
<div >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ff4c68" fill-opacity="1" d="M0,32L40,32C80,32,160,32,240,48C320,64,400,96,480,96C560,96,640,64,720,42.7C800,21,880,11,960,42.7C1040,75,1120,149,1200,165.3C1280,181,1360,139,1400,117.3L1440,96L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path></svg>
</div>
<div class="main-div">
   
   <section class="bg--secondary text-center" style="
            padding-top: 0px; padding-bottom: 0px;">
            <div class="container">
                <div class="row justify-content-between align-items-center">

                    <div class="col-md-6 col-12 text-section-part">
                        <div class="switchable__text">
                            <h2 style="color:#ff4c68">Upload files for free</h2>
                            <p class="lead">
                                From files, images – College ClassNotes is a free and easy way to share your data
                            </p>
                                                    <!-- <hr class="short" style="position: static; display: inline-flex; border-color: #4a90e2; ; "> -->
                                                </div>
                    </div>
                    <div class="col-md-5 text-right banner-section-part">
                        <img alt="Image" src="/assets/file-types.svg"  data-src="/assets/img/icons/file-types.svg" style="width: 80%;">
                    </div>
                </div>
            </div>
        </section>
        <form action="/route/upload" method="POST" class=" " enctype="multipart/form-data" onsubmit="alert('File Uploaded Sucessfully')"> 

        <!-- useless code -->
        <div class="upload text-center " id="login">
            <div class="input-group inner-upload">
            <input type="file" class="form-control"  aria-describedby="inputGroupFileAddon04"  name="mfiles" multiple />
            <button type="submit" class="btn-upload btn btn-outline-secondary " >Upload</button>
            </div>
        </div>
        </form>
        
</div>

<%-include('footer')-%>